/* ========[ FONT ]======== */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");

/* ========[ RESTYLE ]======== */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  font-family: "Roboto", sans-serif;
  background: #ecf1fa;
  /* background: #e0e0e0; */
  color: #333;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  background: #fff !important;
  width: 10px !important;
  padding: 0 2px;
}

::-webkit-scrollbar-thumb {
  background: #333 !important;
  border-radius: 10px 10px !important;
}

form {
  height: 100%;
}

/* ------------------------------------ */
svg {
  fill: currentColor;
  width: 1.5rem;
  height: 1rem;
  z-index: 100;
}

a {
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  text-decoration: none;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
}

/* ------------------------------------ */
h1 {
  font-size: 1.75rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.3rem;
}
h4 {
  font-size: 1.15rem;
}
h5 {
  font-size: 0.9rem;
}
h6 {
  font-size: 0.7rem;
}

span {
  font-size: 0.75rem;
  /* padding: 1rem; */
}

ul,
li {
  list-style-type: none;
}

label {
  font-weight: 400;
  font-size: 0.8rem;
}

/* ------------------------------------ */
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

/* ========[ UTILITY ]======== */
.blur {
}

.btn {
  font-family: inherit;
  font-size: 0.7rem;
  font-weight: 500;
  padding: 0.6rem 2.8rem;
  letter-spacing: 1px;
}

.btn-xs {
  font-family: inherit;
  font-size: 0.7rem;
  font-weight: 600;
  padding: 0.6rem 1.5rem;
  letter-spacing: 1px;
  border-radius: 120px;
  text-align: center;
  cursor: pointer;
}

.btn-sm {
  font-family: inherit;
  font-size: 0.7rem;
  font-weight: 500;
  padding: 0.6rem 2rem;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
}

.btn-md {
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.8rem 2rem;
  letter-spacing: 1px;
  border-radius: 120px;
  text-align: center;
  cursor: pointer;
}

.btn-table {
  font-family: inherit;
  font-size: 0.7rem;
  font-weight: 500;
  padding: 0.4rem 1rem;
  letter-spacing: 1px;
  border-radius: 100px;
  text-align: center;
  cursor: pointer;
}

.btn-table:first-child {
  margin-right: 0.25rem;
}

.btn-alt {
  color: #333;
  border: 1px solid #333;
}

.btn-alt:hover {
  background: #333;
  color: #fff;
}
.btn-alt:active {
  background: #222222;
}

.btn-primary {
  background: #00aedb;
  color: #fff !important;
}

.btn-primary:hover {
  background: #55c9e7;
}

.btn-primary:active {
  background: #007492;
}

.btn-secondary {
  background: #333333;
  color: #fff !important;
}
.btn-secondary:hover {
  background: #777777;
}
.btn-secondary:active {
  background: #222222;
}

.btn-green {
  background: #00b159;
  color: #fff !important;
}
.btn-green:hover {
  background: #55cb90;
}
.btn-green:active {
  background: #00763b;
}

.btn-alt-green {
  color: #00b159;
  border: 1px solid #00b159;
}

.btn-alt-green:hover {
  background: #00b159;
  color: #fff;
}
.btn-alt-green:active {
  background: #00763b;
}

.btn-red {
  background: #d41243;
  color: #fff !important;
}
.btn-red:hover {
  background: #e26181;
}
.btn-red:active {
  background: #8d0c2c;
}

.container {
  margin: 1.5rem 3rem;
}

.container-lg {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
  padding: 2rem 0;
}

.container-md {
  display: flex;
  flex-direction: column;
}

.container-sm {
  padding-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.hidden {
  display: none !important;
}

.show {
  display: inline-block !important;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.label-0 {
  font-weight: 800;
  font-size: 3.9rem;
  padding: 0.7rem 0;
}

.label-1 {
  font-weight: bold;
  font-size: 1.9rem;
  padding: 0.7rem 0;
}

.label-2 {
  font-weight: bold;
  font-size: 1.65rem;
  padding: 0.7rem 0;
}

.label-3 {
  font-weight: 600;
  font-size: 1.4rem;
  padding: 0.7rem 0;
}

.label-4 {
  font-weight: 500;
  font-size: 1.15rem;
  padding: 0.7rem 0;
}

.label-5 {
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0.7rem 0;
}

.label-6 {
  font-weight: 500;
  font-size: 0.7rem;
  padding: 0.4rem 0;
}

.logo .logo-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #333 !important;
  padding: 0.7rem 0;
}

.icon {
  position: relative;
  left: -2.8125rem;
  top: 0.1rem;
  background-color: #fff;
  color: #666;
}

.icon i {
  margin: 0 0.5rem;
}

.systemologo {
  width: 80px !important;
  height: 25px !important;
  z-index: 0 !important;
}

.text {
  font-weight: 400;
  font-size: 0.7rem;
}

.py-1 {
  padding: 3rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 1rem 0;
}

.px-1 {
  padding: 0 3rem;
}
.px-2 {
  padding: 0 2rem;
}
.px-3 {
  padding: 0 1rem;
}

.my-1 {
  margin: 3rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 1rem 0;
}

.mx-1 {
  margin: 0 3rem;
}
.mx-2 {
  margin: 0 2rem;
}
.mx-3 {
  margin: 0 1rem;
}

.warning {
  color: red;
  text-align: center;
  margin-bottom: 0.5rem;
}

/* ========[ Main ]======== */
.main {
  height: 100%;
}

.content {
  position: relative;
  left: 14rem;
  width: 85%;
  height: 100%;
}

/* ========[ Maintenance ]======== */
#maintenance,
#under-construction,
#error {
  background: #fff;
}

/* ========[ Footer ]======== */
#footer {
  display: flex;
  justify-content: center;
  text-align: center;
}

#footer a {
  color: #333;
  margin: 0;
}
#footer p {
  font-size: 0.7rem;
  margin-bottom: 5px;
}

/* ========[ Maintenance ]======== */
#maintenance header {
  margin: 3vh auto 0;
  text-align: center;
}

#maintenance header img {
  height: 8vh;
}

#maintenance .showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

#maintenance .showcase img {
  width: 40vw;
}

#maintenance .showcase h1 {
  margin-bottom: 0.5rem;
}

#maintenance .showcase p {
  letter-spacing: 1px;
  line-height: 2rem;
  font-size: 1.25rem;
  font-style: italic;
}
#maintenance .showcase h1 {
  font-size: 2.25rem;
  margin-bottom: 0.5rem;
}

#maintenance .showcase .lead {
  text-align: center;
}

#maintenance footer {
  margin: 10vh auto 1rem;
  text-align: center;
}

#maintenance footer h4 {
  font-size: 1.5rem;
}

#maintenance footer a {
  font-size: 2rem;
  color: #00aedb;
  margin: 0 0.55rem;
}

/* ==========================[ MEDIA QUERIES ]====================== */

/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* ========[ Nav ]======== */
  nav {
    max-width: 11rem;
  }

  /* ========[ Content ]======== */
  .content {
    left: 11rem;
    width: 78%;
    height: 100%;
  }

  .container {
    margin: 0.75rem 1.5rem;
  }

  .card {
    margin: 1.5rem 0;
    padding: 1.5rem 2rem;
  }

  .label-0 {
    font-size: 1.5rem;
  }

  /* ========[ HOME ]======== */
  #home .container .card-1 .btn {
    font-size: 1.5rem;
  }

  /* ========[ Under Construction ]======== */
  #underconstruction .showcase img {
    margin-top: 15vh;
  }

  #underconstruction .showcase h1 {
    margin-bottom: 0.5rem;
  }

  #underconstruction .showcase p {
    letter-spacing: 1px;
    line-height: 2rem;
    font-size: 1.25rem;
    font-style: italic;
  }
  #underconstruction .showcase h1 {
    font-size: 1.25rem;
    margin-bottom: 7rem;
  }
}

/* TABLET LANDSCAPE / DESKTOP */
/* @media only screen and (min-width: 992px) and (max-width: 1440px) {

} */
